@import "./../../../Sass/abstract/function";
@import "./../../../Sass/abstract/variables";
@import "./../../../Sass/abstract/animation";

.wrapper {
  background-image: url("/assets/bg/texture_02.png");
  width: 100%;
  position: relative;
  @include flexCenter();
  padding: 0 0 spacing(16);
  box-shadow: $standartShadow;

  @media screen and (max-width: 769px) {
    padding: 0 0 spacing(6);
  }
  .content {
    max-width: var(--container_width);
    width: 100%;
    position: relative;
    max-height: 60vh;
    height: 100%;
    video {
      display: block;
      max-height: 60vh;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
}

.videoPlayer {
  max-width: calc(100% - 20rem);
  width: calc(100% - 20rem);
  margin-bottom: 3rem;
  position: relative;
  @include flexCenter();
  border: spacing(4) solid $light;
  margin: 0 8rem;
  video {
    border: 1px solid $black;
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
  }
}
