@import "./../../../Sass/abstract/function";
@import "./../../../Sass/abstract/variables";
@import "./../../../Sass/abstract/animation";

.wrapper {
  max-height: 60vh;
  height: 60vh;
  background-color: rgb(116, 114, 62);
  max-width: var(--container_width);
  width: 100%;
  position: relative;
  @include flexCenter();
  margin: spacing(4) 0;
  box-shadow: 0 0 15px 3px black inset;

  @media screen and (max-width: 769px) {
    max-height: 40vh;
    height: 40vh;
  }

  video {
    border: 1px solid $black;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.videoPlayer {
  max-width: calc(100% - 20rem);
  width: calc(100% - 20rem);
  margin-bottom: 3rem;
  position: relative;
  @include flexCenter();
  border: spacing(4) solid $light;
  box-shadow: 0 0 15px 3px black inset;
  margin: 0 8rem;
  video {
    border: 1px solid $black;
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
  }
}
