@import "./../../../../Sass/abstract/function";
@import "./../../../../Sass/abstract/variables";

.wrapper {
  max-width: 100%;
  width: 100%;
  position: relative;
  @include flex(row, wrap, center, flex-start);
  margin: 1.5rem 0;

  cursor: pointer;

  .content {
    padding: 1rem;
    border-radius: $smallRadius;
    border: 1px solid $grey;
    background-color: wheat;
    filter: $dropShadow;
    max-width: 80%;
    width: 100%;
    &:hover {
      background-color: white;
    }

    .review {
      margin: 0 0 1rem 0;
    }

    .date {
      margin: 0;
      font-style: italic;
    }
  }
}

.filter {
  @include flex(row, nowrap, space-between, center);
  border-bottom: 1px solid $grey;
  padding: 0 0 1rem 0;
  &_select {
    display: flex;
    select {
      margin: 0 0 0 1rem;
    }
  }
  p {
    margin: 0;
  }
}

.content_review {
  background-color: white;
  padding: 0.5rem 1rem;
  @include flex(row, nowrap, space-between, center);
  .select {
    @include flex(row, nowrap, space-between, center);
    label {
      margin: 0 0.25rem 0 0;
    }
    p {
      margin: 0 0 0 0.5rem;
    }
  }
  p {
    margin: 0;
  }
}

.item_rate {
  svg {
    color: $yellow;
    font-size: 1.25rem;
  }
}

.paginate {
  max-width: 100%;
  @include flex(row, wrap, center, center);
  background-color: white;

  button {
    height: 2rem;
    min-width: 2rem;
    font-size: 1rem;
    margin: 0.5rem;
    color: $black;
    background-color: $grey;
    border: none;
    border-radius: 5px;
    filter: $dropShadow;
    transition: 0.3s;

    &[data-current="true"] {
      background-color: $blue;
      color: white;
    }

    &:hover {
      background-color: $yellow;
      color: white;
    }

    &:disabled:hover {
      background-color: $grey;
      cursor: not-allowed;
    }
  }
}
