@import "./../../../../../Sass/abstract/function";
@import "./../../../../../Sass/abstract/variables";

.list_review {
  padding: spacing(2);
  max-width: 100%;
  width: 100%;

  &_item {
    background-color: $light;
    padding: spacing(2) spacing(3);
    margin: spacing(4) spacing(1);
    border-radius: 8px;

    .item_rate {
      svg {
        color: $yellow;
        font-size: 1.25rem;
      }
    }

    .item_comment {
      margin: 0 0 spacing(2) 0;
    }

    .item_name {
      text-align: right;
    }
  }

  p {
    margin: 0;
  }
}
