@import "./../../../Sass/abstract/function";
@import "./../../../Sass/abstract/variables";
@import "./../../../Sass/abstract/animation";

.aside {
  background-color: $eerie-black;
  position: fixed;
  height: 100vh;
  max-width: $navLeft_width;
  width: 100%;
  @include flex(column, nowrap, space-between, center);
  padding: 3rem 0;

  .logo {
    margin: 0 0 1rem 0;
    @include flex(column, nowrap, flex-start, center);

    .header_top {
      @include flex(column, nowrap, flex-start, center);
      margin: 0 0 2rem 0;
      animation-name: pendule;
      animation-fill-mode: both;
      animation-duration: 1.2s;
      transform-origin: top center;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      cursor: pointer;
    }

    footer {
      h2 {
        margin: 0;
        font-family: "Papyrus";
        width: 100%;
        text-align: center;
        line-height: 1;
        margin: 0 0 1rem 0;
        color: $beaver;
      }
      :nth-child(2n) {
        text-transform: uppercase;
      }
    }
  }

  nav {
    @include flex(column, nowrap, flex-start, center);
    flex: 1;
    ul {
      @include flex(column, nowrap, flex-start, center);

      li {
        padding: 0.5rem 0.5rem;
        width: 100%;
        @include flexCenter();

        .triangle {
          content: "";
          display: inline-block;
          height: 0;
          width: 0;
          border-right: 5px solid transparent;
          border-top: 5px solid rgb(151, 151, 151);
          border-left: 5px solid transparent;
          margin-left: 8px;
        }
      }
      ul {
        margin: 0;
        li {
          background-color: $light;
        }
      }
      a {
        color: $beaver;
        transition: $shortTime;
        @include flex(column, nowrap, flex-start, center);

        &:hover {
          color: $light;
        }
      }
    }
  }
}
