@import "./../../../Sass/abstract/function";
@import "./../../../Sass/abstract/variables.scss";
@import "./../../../Sass/abstract/animation.scss";

.wrapper {
  background-color: $eerie-black;
  width: 100%;
  @include flex(row, wrap, center, center);
  padding: spacing(6) 0 0 0;
  border-top: 5px solid $beaver;
  box-shadow: 0 -4px 5px 0 lighten($black, 50%);
  .content {
    background-color: $beaver;
    max-width: var(--container_width);
    width: 100%;
    padding: spacing(6) spacing(4);
  }
}
