@import "./../../../Sass/abstract/function";
@import "./../../../Sass/abstract/variables";
@import "./../../../Sass/abstract/animation";

.aside_link {
  position: fixed;
  @include flex(column, nowrap, center, center);
  max-width: 3rem;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1500;
  left: 0;

  @media screen and (max-width: 769px) {
    max-width: 2.5rem;
  }

  &_container {
    span {
      @include size(3rem, 3rem);
      @include flex(column, nowrap, center, center);
      transition: 0.3s;
      cursor: pointer;
      svg {
        font-size: 2.5rem;
        padding: 0.125rem;
        color: white;
      }

      &:hover {
        filter: brightness(1.4);
      }
    }
    @media screen and (max-width: 769px) {
      span {
        @include size(2.5rem, 2.5rem);
        svg {
          font-size: 2rem;
        }
      }
    }
  }
}
