@import "./../../../Sass/abstract/function";
@import "./../../../Sass/abstract/variables.scss";
@import "./../../../Sass/abstract/animation.scss";

.nav {
  @include flex(row, wrap, flex-start, center);
  flex: 1 0 auto;
  padding: spacing(1);
  .navList {
    @include flex(row, wrap, center, center);
    margin: 0;
    &_item {
      @include flex(row, wrap, center, center);
      margin: 0 spacing(2);
      position: relative;
      text-transform: capitalize;
      .navList_link {
        position: relative;
        z-index: 100;
        @include flex(row, wrap, center, center);
        margin: 0 spacing(1);
        font-weight: 600;
        font-size: 1rem;
        color: $text_black_smooth;
        transition: $shortTime;
        svg {
          margin-top: -2px;
          margin-right: spacing(2);
          @include size(1.5rem, 1.5rem);
        }

        &:before {
          @include emptyContent;
          background-color: $blue;
          border-radius: $smallRadius;
          @include size(0, 100%);
          z-index: -1;
        }

        &:hover {
          color: white;
        }

        &:hover:before {
          animation-name: zero_TO_full;
          animation-fill-mode: both;
          animation-duration: $shortTime;
          padding: spacing(0.5) spacing(1.25);
        }
      }
    }
  }

  .navList_nested {
    @include flex(column, wrap, center, center);
    position: absolute;
    top: 100%;
    background-color: $light;
    border: 1px solid $grey;
    z-index: 500;
    margin-top: spacing(1);

    &_item {
      min-width: 100%;
      transition: $shortTime;
      display: flex;

      &:hover {
        background-color: $blue;

        .navList_nested_link {
          color: $light;
        }
      }
    }
    &_link {
      padding: spacing(0.5) spacing(2);
      color: $light;
      text-transform: capitalize;
      font-weight: 600;
      font-size: 1rem;
      color: $text_black_smooth;
      min-width: 100%;
    }
  }
}
